# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.vscode
cmd/tbln/tbln

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.envrc

# Jekyll
_site/
.jekyll-cache
.jekyll-metadata
.sass-cache

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock
